In [1]:
import pandas as pd
import numpy as np
import os
import sys
import joblib
import time
from prefect import task, Flow

nan, none, array, bool, float, int

In [2]:
example_obj = pd.DataFrame(
    {
        'nan': [np.nan, np.nan],
        'nan_none': [np.nan, None],
        'nan_array': [np.nan, []],
        'nan_bool': [np.nan, True],
        'nan_float': [np.nan, 1.0],        
        'nan_int': [np.nan, 1],
        'none': [None, None],        
        'none_array': [None, []],
        'none_bool': [None, True],
        'none_float': [None, 0.0],
        'none_int': [None, 1],
        'array': [[], []],
        'array_bool': [[], True],
        'array_float': [[], 1.0],
        'array_int': [[], 1],
        'bool': [True, False],
        'bool_float': [True, 0.0],
        'bool_int': [True, 1],
        'float_int': [1.0, 0],
    },
    dtype=object
)

example_obj_results = example_obj.T
example_obj_results['pandas'] = example_obj.infer_objects().dtypes
example_obj_results['pandas_api'] = example_obj.apply(lambda x:pd.api.types.infer_dtype(x, skipna=True))
example_obj_results = example_obj_results.T

example_obj_results

,nan,nan_none,nan_array,nan_bool,nan_float,nan_int,none,none_array,none_bool,none_float,none_int,array,array_bool,array_float,array_int,bool,bool_float,bool_int,float_int
0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,[],[],[],[],True,True,True,1.0
1,NaN,None,[],True,1.0,1,None,[],True,0.0,1,[],True,1.0,1,False,0.0,1,0
pandas,float64,float64,object,object,float64,float64,object,object,object,float64,float64,object,object,object,object,bool,object,object,float64
pandas_api,empty,empty,mixed,boolean,floating,integer,empty,mixed,boolean,mixed-integer-float,integer,mixed,mixed,mixed,mixed-integer,boolean,mixed,mixed-integer,mixed-integer-float

In [3]:
example_obj.dtypes

nan            object
nan_none       object
nan_array      object
nan_bool       object
nan_float      object
nan_int        object
none           object
none_array     object
none_bool      object
none_float     object
none_int       object
array          object
array_bool     object
array_float    object
array_int      object
bool           object
bool_float     object
bool_int       object
float_int      object
dtype: object